@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    font-family: sans-serif;
    background: #E5E5E5;
}

nav{
    background: #222831;
    height: 70px;
    width: 100%;
}

nav>ul{
    float: right;
    margin-right: 20px;
}

nav>ul>li{
    display: inline-block;
    line-height: 75px;
    margin: 0 5px;
}

nav>ul>li>a{
    color: #f05454;
    font-size: 17px;

}
    

label.logo{
    color: #f05454;
    font-size: 33px;
    line-height: 75px;
    padding: 0 100px;
    font-weight: bold;
}

.landing-page{
    background-color: #E5E5E5;
    background-size: cover;
    width: 100%;
    height: 30vh;
}

#atas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 160px;
    width: 100%;
    
}
#atas-tengah{
    display: flex;
    
    align-items: center;
    height: 4vh;
    width: 100%;
}

.location{
    margin-left: 39%;
    color: #f05454;
    font-weight: bolder;
}

.event-time{
    margin-left: 27%;
    color: #f05454;
    font-weight: bolder;
}

#tengah{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100%;
    margin-top: 10px;
}

.search-box{
    position: absolute;
    top: 15%;
    left: 36%;
    transform: translate(-50%, -50%);
    background: E5E5E5;
    /* height: 55px; */
    border-radius: 10px;
    padding: 3px;
    border: 4px solid #30475E;
}

.search-btn{
    
    color: red;
    float: right;
    width: 50px;
    height: 35px;
    border-radius: 10px;
    background: #30475E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    /* padding: 0; */
    color: white;
    font-size: 16px;
    transition: 0.4s;
    
    width: 920px;
}

.search-box-2{
    position: relative;
    left: 17.5%;
    top: 15%;
    
    transform: translate(-50%, -50%);
    background: E5E5E5;
    /* height: 55px; */
    border-radius: 10px;
    padding: 3px;
    border: 2px solid #30475E;
}

.search-btn-2{
    
    color: #30475E;
    float: right;
    width: 50px;
    height: 35px;
    border-radius: 10px;
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt-2{
    border: none;
    background: none;
    outline: none;
    float: left;
    /* padding: 0; */
    color: black;
    font-size: 16px;
    transition: 0.4s;
    
    width: 400px;
}

.my-dropdown{
    position: relative;
    color: red;
    background-color: red;
    margin-bottom: 50px;
    left: 12.3%;
}

.filter>a{
    position: absolute;
    top: 12%;
    right: 10%;
    color: #f05454;
    text-decoration: none;
    font-size: 20px; 
    padding: 10px 45px 10px 45px;
    border: 4px solid #30475E;
    background-color: #E5E5E5;
    border-radius: 10px;
    font-weight: bolder;
}

#TheCard{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 80px;
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.card-container h1{
    font-size: 64px;
    color: darkblue;
    gap: 64px;
}

.card-cardholder{
    display: flex;
    justify-content: space-between;
    width: 92%;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 450px;
    height: 500px;
    background: #30475E;
    border-radius: 10px;
}

.p1{
    font-size: 17px;
    text-align: left;
    font-weight: bold;
    color: #f05454;
    padding-left: 20px;
}

.p2{
    font-size: 17px;
    text-align: left;
    font-weight: lighter;
    color: #E5E5E5;
    
}

.card a{
    color: #f05454;
    text-decoration: none;
    font-size: 15px; 
    padding: 0px 10px 0px 10px;
    margin-left: 20px;
    
    
    background-color: #E5E5E5;
    border-radius: 7px;
}

.backarrow{
    position: absolute;
    color: #f05454;
    font-size: 70px;
    top: 10%;
    left: 7%;
    width: 100px;
}

.date-box{
    position: absolute;
    float: right;
    top: 40%;
    left: 10%;
    display: flex;
    

    color: #f05454;
    text-decoration: none;
    font-size: 15px; 
    padding: 8px 10px 8px 10px; 
    text-align: center;
    
    background-color: #222831;
    border-radius: 7px;
    font-weight: bold;
}

.date-box2{
    position: absolute;
    float: right;
    top: 40%;
    left: 40%;
    display: flex;
    

    color: #f05454;
    text-decoration: none;
    font-size: 15px; 
    padding: 8px 10px 8px 10px; 
    text-align: center;
    
    background-color: #222831;
    border-radius: 7px;
    font-weight: bold;
}

.date-box3{
    position: absolute;
    float: right;
    top: 40%;
    left: 70%;
    display: flex;
    

    color: #f05454;
    text-decoration: none;
    font-size: 15px; 
    padding: 8px 10px 8px 10px; 
    text-align: center;
    
    background-color: #222831;
    border-radius: 7px;
    font-weight: bold;
}



/* .wrap{
    width:1000px;
    margin:auto;
    margin-top: 100px;
}

.card{
    transition: 0.4s;
    width: 300px;
    background: #fff;
    text-align: center;
    font-size: 16px;
    float: left;
    margin: 10px;
} */


/* .browse-event{
    margin-top: 30px;
    font-size: 18px;
    
} */

/* .browse-event>a{
    color: #dddddd;
    text-decoration: none;
    padding: 12px 24px 12px 24px; 
    border: 2px solid #f05454;
    background-color: #f05454;
    border-radius: 7px;
} */



.home>a{
    
    font-size: 25px;
}

.event-gallery>a{
    font-size: 23px;
    margin-left: 37px;
    font-weight: bolder;
}

.view-ticket>a{
    
    font-size: 20px;
    margin-left: 10px;
}

.navul-mid{
    margin-right: 30%;
}

.logout>a{
    color: #dddddd;
    text-decoration: none;
    font-size: 15px;
    padding: 8px 25px 8px 25px; 
    border: 2px solid #f05454;
    background-color: #f05454;
    border-radius: 7px;
}


.login>a{
    color: #dddddd;
    text-decoration: none;
    font-size: 15px;
    padding: 8px 25px 8px 25px; 
    border: 2px solid #f05454;
    background-color: #f05454;
    border-radius: 7px;
}

.register>a{
    color: #f05454;
    text-decoration: none;
    font-size: 15px; 
    padding: 8px 25px 8px 25px; 
    border: 2px solid #f05454;
    background-color: #222831;
    border-radius: 7px;
}

